/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: white;
  color: #333;
}

.container {
  width: 80%;
  margin: 0 auto;
  padding: 20px;
  align-items: center;
  justify-items: center;
  margin-bottom: 120px;
}

/* Search Area */
.search-area {
  display: flex;
  align-items: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100%;
  max-width: 100%;
  background-color: #fff;
  position: relative;
}

.search-container {
  flex: 1;
  display: flex;
  align-items: center;
  position: relative;
}

.search-icon {
  margin-right: 8px;
  color: #ccc;
}

.search-bar {
  border: none;
  outline: none;
  width: 90%;
  font-size: 14px;
}

.filter-container {
  position: relative;
  display: flex;
  align-items: center;
  width: 10%;
}
.filter-container.active {
  width: 60%;
}
.filter-label {
  display: flex;
  align-items: center;
  cursor: pointer;
  color: #555;
  font-size: 16px;
  padding: 0 5px;
}

.filter-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  z-index: 10;
  overflow-y: auto;
  max-height: 200px;
}

.filter-dropdown.active {
  display: block;
}

.filter-option {
  padding: 8px;
  cursor: pointer;
  color: #555;
}

.filter-option:hover {
  background-color: #f1f1f1;
}

/* Recommendation Area */
.recommendation-section {
  margin-bottom: 40px;
}

.section-title {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #33cc33;
}

.books-list {
  display: flex;
  overflow-x: scroll;
  gap: 20px;
}

.books-list::-webkit-scrollbar {
  display: none;
}

/* Sell a Book Section */
.sell-book-section {
  max-width: 600px;
  margin: 0 auto;
  padding: 2em;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

.section-title {
  text-align: center;
  color: #333;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 1.5em;
}

.name-code {
  display: flex;
  gap: 1em;
  margin-bottom: 1.5em;
}

.input-field {
  width: 100%;
  padding: 0.75em 1em;
  border-radius: 5px;
  border: 1px solid #ccc;
  font-family: 'Ubuntu', sans-serif;
  transition: border-color 0.3s ease;
}

.input-field:focus {
  border-color: #4CAF50;
  outline: none;
}

.dept {
  margin-bottom: 1.5em;
} 
.desc {
  height: 100px;
  margin-bottom: 1.5em;
  resize: none;
}
.price {
  margin-bottom: 0.5em;
}

.warning-message {
  color: #ff6f61;
  font-size: 0.875em;
  margin-bottom: 1em;
}

.earnings {
  font-size: 1.125em;
  margin-bottom: 1.5em;
}

.earnings span {
  font-weight: bold;
  color: #4CAF50;
}

.submit-button {
  width: 100%;
  padding: 0.75em;
  background-color: #4CAF50;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.submit-button:hover {
  background-color: #45a049;
}

/* Book Cards */
.book-cardy {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 200px;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-cardy h3 {
  color: #33cc33;
}

.book-cardy p {
  margin: 5px 0;
}

.book-cardy .add-to-cart-button {
  padding: 5px 10px;
  background-color: #33cc33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.out-of-stock-button {
  padding: 5px 10px;
  color: white;
  border: none;
  font-size: 0.8em;
  border-radius: 5px;
  cursor: not-allowed;
}

.book-cardy .add-to-cart-btn:hover {
  background-color: #28a428;
}

.add-to-cart-button.clicked {
  background-color: #218838;
  animation: buttonClicked 0.5s;
}

.out-of-stock-button {
  background-color: #6c757d;
}

@keyframes buttonClicked {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.1);
  }
  100% {
      transform: scale(1);
  }
}

/* Error/Success Messages */
.error-message {
  color: red;
  margin-top: 10px;
}

.success-message {
  color: green;
  margin-top: 10px;
}

/* Responsive Styles */

/* For screens with max-width of 720px */
@media (max-width: 720px) {
  .container {
      width: 90%;
      padding: 10px;
      margin-bottom: 80px;
  }

  .search-bar {
      font-size: 12px;
  }

  .section-title {
      font-size: 1.2em;
  }

  .sell-book-section {
      padding: 1.5em;
  }

  .name-code {
      flex-direction: column;
  }

  .input-field {
      font-size: 14px;
  }

  .books-list {
      gap: 15px;
  }



  .book-cardy h3 {
      font-size: 1.2em;
  }

  .book-cardy p {
      font-size: 0.9em;
  }

  .add-to-cart-button {
      padding: 5px;
      font-size: 0.9em;
  }

  .earnings {
      font-size: 1em;
  }

  .submit-button {
      padding: 0.5em;
      font-size: 0.9em;
  }
}

/* For screens with max-width of 480px */
@media (max-width: 480px) {
  .container {
      width: 100%;
      padding: 5px;
      margin-bottom: 80px;
  }

  .search-area {
      flex-direction: column;
      align-items: stretch;
  }

  .search-bar {
      font-size: 10px;
      width: 100%;
  }

  .section-title {
      font-size: 1em;
  }

  .sell-book-section {
      padding: 1em;
  }

  .name-code {
      flex-direction: column;
      gap: 0.5em;
  }

  .input-field {
      font-size: 12px;
      padding: 0.5em;
  }

  .books-list {
      gap: 10px;
  }



  .book-cardy h3 {
      font-size: 1em;
  }

  .book-cardy p {
      font-size: 0.8em;
  }

  .add-to-cart-button {
      padding: 3px;
      font-size: 0.8em;
  }

  .earnings {
      font-size: 0.9em;
  }

  .submit-button {
      padding: 0.5em;
      font-size: 0.8em;
  }
}
