/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  color: #333;
}

/* Home Container */
.home {
  padding: 20px;
  max-width: 1200px;
  margin: auto;
  margin-bottom: 80px;
}

/* Profile Section */
.profile-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.profile-link {
  text-decoration: none;
  color: inherit;
}

.profile-pic {
  position: relative;
  width: 10rem;
  height: 10rem;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid #ddd;
}

.profile-img {
  width: 10rem;
  height: 10rem;
  object-fit: cover;
}

.profile-completion-overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.completion-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 4px;
  background-color: green;
}

.completion-text {
  font-size: 10px;
  color: white;
  font-weight: bold;
}

/* Dashboard */
.dashboard {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
}

.dashboard-item {
  background-color: #f0f0f0;
  padding: 20px;
  text-align: center;
  flex: 1;
  margin: 0 10px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.profile-pic:hover {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.profile-link:hover .profile-completion-overlay .completion-text {
  opacity: 1;
  transition: opacity 0.3s ease;
}

.profile-completion-overlay .completion-text {
  opacity: 0;
  transition: opacity 0.3s ease;
}


.add-to-cart-button {
  padding: 5px 10px;
  background-color: #33cc33;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.out-of-stock-button{
  padding: 5px 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: not-allowed;
}
.book-card .add-to-cart-btn:hover {
  background-color: #28a428;
}

.add-to-cart-button.clicked {
  background-color: #218838;
  animation: buttonClicked 0.5s;
}

.out-of-stock-button {
  background-color: #6c757d;

}

@keyframes buttonClicked {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.dashboard-item .label {
  display: block;
  margin-bottom: 10px;
}

.dashboard-item .value {
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  color: #4CAF50;
}

/* Sections */
.section {
  margin-bottom: 30px;
}

.section h2 {
  margin-bottom: 15px;
  font-size: 24px;
  color: #444;
}

/* Book Cards */
.book-cards {
  display: flex;
  overflow-x: scroll;
  gap: 15px;
}
.book-cards::-webkit-scrollbar{
  display: none;
}

.book-card {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  flex: 1;
  min-width: 200px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.3s;
}

.book-card.expanded {
  transform: scale(1.05);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
}

.book-summary {
  margin-bottom: 10px;
  font-size: 14px;
  color: #555;
}
.book-summary .available{
  color: #218838;
}

.book-summary .notavailable{
  color: #ff6f61;
}

.book-details {
  margin-top: 10px;
  padding-top: 10px;
  border-top: 1px solid #eee;
}


/* Offers and Ads */
.offers, .ads {
  background-color: #fff;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.offers p, .ads p {
  margin: 0;
  padding: 5px 0;
  font-size: 16px;
  color: #444;
}

.section.advertisements {
  padding: 2rem;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.ads-title {
  font-size: 1.8rem;
  font-weight: 700;
  margin-bottom: 1.5rem;
  text-align: center;
  color: #333;
}

.ads-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
}

.ad {
  width: 45%;
  background-color: #fff;
  border-radius: 8px;
  padding: 1.5rem;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.ad:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.ad-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ad-title {
  font-size: 1.5rem;
  color: #33cc33; /* Primary Color */
  margin-bottom: 1rem;
}

.ad-text {
  font-size: 1rem;
  color: #555;
  margin-bottom: 1.5rem;
}

.btn-shop-now {
  background-color: #33cc33; /* Primary Color */
  color: #fff;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-transform: uppercase;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-shop-now:hover {
  background-color: #28a428; /* Darker shade of primary color */
}

/* Styles for screens with max-width of 720px */
@media screen and (max-width: 720px) {
  .ads-container {
    flex-direction: column;
    align-items: center;
  }

  .ad {
    width: 80%;
  }

  .ads-title {
    font-size: 1.6rem;
  }

  .ad-title {
    font-size: 1.4rem;
  }

  .ad-text {
    font-size: 0.9rem;
  }

  .btn-shop-now {
    padding: 0.65rem 1.25rem;
  }
}

/* Styles for screens with max-width of 480px */
@media screen and (max-width: 480px) {
  .ads-container {
    flex-direction: column;
    align-items: center;
  }

  .ad {
    width: 90%;
  }

  .ads-title {
    font-size: 1.4rem;
  }

  .ad-title {
    font-size: 1.2rem;
  }

  .ad-text {
    font-size: 0.85rem;
  }

  .btn-shop-now {
    padding: 0.6rem 1rem;
    font-size: 0.85rem;
  }
}


/* Mobile Responsive Styles */
@media (max-width: 768px) {
  .home {
    padding: 10px;
  }

  .book-details .notavailable{
    background-color: #6c757d;
    cursor: not-allowed;
  }

  .dashboard {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
  }

  .dashboard-item {
    margin: 0;
    width: 80%;
    padding: 10px;
  }

  .book-details .notavailable{
    background-color: #6c757d;
  }

  .section h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }

  .book-card {
    width: 20%;
    margin-bottom: 15px;
  }

  .offers, .ads {
    padding: 10px;
  }

  .offers p, .ads p {
    font-size: 14px;
  }

  .profile-pic {
    width: 8rem;
    height: 8rem;
    border: 2px solid #ccc;
  }
  .profile-img{
    width: 7rem;
    height: 7rem;

  }
}

/* Very Small Devices */
@media (max-width: 480px) {

  .book-details .notavailable{
    background-color: #6c757d;
    cursor: not-allowed;
  }
  .profile-pic {
    width: 7rem;
    height: 7rem;
    border: 2px solid #ccc;
  }
  .profile-img{
    width: 7rem;
    height: 7rem;

  }


  .profile-completion-overlay {
    height: 30px;
    font-size: 12px;
  }

  .completion-bar {
    height: 6px;
  }

  .dashboard-item .label {
    font-size: 14px;
  }

  .dashboard-item .value {
    font-size: 20px;
  }

  .section h2 {
    font-size: 22px;
  }

  .book-summary, .book-details {
    font-size: 14px;
  }

  

  .offers p, .ads p {
    font-size: 16px;
  }
}
