/* For screens 480px or smaller */
@media screen and (max-width: 480px) {
  .profile-section {
    flex-direction: column;
    align-items: center;
  }

  .dashboard {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .book-card {
    font-size: 14px;
  }
}

/* For screens 720px or smaller */
@media screen and (max-width: 720px) {
  .dashboard {
    grid-template-columns: 1fr 1fr;
  }

  .book-cards {
    grid-template-columns: 1fr;
  }
}
